@font-face {
    font-family: 'BulkyPixels';
    src: url('fonts/BulkyPixels.ttf');
    src: url('fonts/BulkyPixels.eot');
    src: url('fonts/BulkyPixels.eot?#iefix') format('embedded-opentype'),
        url('fonts/BulkyPixels.woff2') format('woff2'),
        url('fonts/BulkyPixels.woff') format('woff');
}


body {
    background: #101010;
    overflow: hidden;
  }
  
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }

  h1{
    font-family: BulkyPixels;
      color: beige;
  }
  h2{
    font-family: BulkyPixels;
      color: beige;
  }
  img{
      width: 20%;
      height: auto;
    border-radius: 50%;
}
  a{
    font-family: BulkyPixels;
      color: antiquewhite;
      text-decoration: none;
  }
  #maintext {
    width: 100%;
    height: 95%;
    position: absolute;
    text-align: center;
    z-index: 10;
    bottom: 0;
  }